@import"../../themes/colors.scss";
@import"../../themes/theme.scss";

.carsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  #nocars {
    height: 19.9rem;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
  }
}
.mb-2.btn-group {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0.25rem;
  width: 40%;
  background-color: $lightGrey;
 
  button:hover {
    background-color: $black;
    color: $white;
    box-shadow: none;
  }
  button {
    background-color: $lightGrey;
    color:  $black;
    border: none;
    border-radius: 0;
  }
  .active-tab{
      background-color: $black;
      color: $white;
      box-shadow: none;
  }
}
@media(min-width:$breakpoint-desktop-screen) {
  .mb-2.btn-group{
    width: 40%;
  }
}
@media(min-width:$breakpoint-tablet-screen) {
  .mb-2.btn-group{
    width: 65%;
  }
}

@media(min-width:$breakpoint-mobile-screen) {
  .mb-2.btn-group{
    width: 84%;
  }
}