@import "../../themes/colors.scss";
@import "../../themes/theme.scss";

.carsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  #nocars {
    height: 19.9rem;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
  }
}
.mb-2.btn-group {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  padding: 0.25rem;
  width: 40%;
  background-color: $lightGrey;

  button:hover {
    background-color: $black;
    color: $white;
    box-shadow: none;
  }
  button {
    background-color: $lightGrey;
    color:  $black;
    border: none;
    border-radius: 0;
  }
  .active-tab{
      background-color: $black;
      color: $white;
      box-shadow: none;
  }
}
@media(min-width:$breakpoint-desktop-screen) {
  .mb-2.btn-group{
    width: 40%;
  }
}
@media(min-width:$breakpoint-tablet-screen) {
  .mb-2.btn-group{
    width: 65%;
  }
}

@media(min-width:$breakpoint-mobile-screen) {
  .mb-2.btn-group{
    width: 84%;
  }
}

.result-count {
  margin-left: 2rem;
  margin-top: 1rem;
  font-family: $font-family-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black;
}

.sorry-message {
  margin: 5%;
  text-align: center;
  p {
    font-family: $font-family-roboto;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
  }
}

.end-msg {
  margin:auto;
  display:flex;
  align-items: end;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  img {
    height: 3rem;
    width: 3rem;   
  }
}

.loader {
  display:flex; 
  justify-content: center;
  gap: 1rem; 
  align-items: center;
  margin-top: 1rem;
}