.bookingContainer {
  display: flex;
  justify-content: space-around;
  div {
    img {
      min-width: 20rem;
      max-width: 20rem;
      min-height: 10rem;
    }
    // min-height: 20rem;
    padding: 2%;
    background-color: aliceblue;
    margin: 1rem;
    h6 {
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
    }
    h4 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    text {
      font-size: small;
      color: grey;
    }
    p {
      font-size: smaller;
      font-weight: bold;
    }
  }
}

.bookingContainer > .formDiv {
  flex: 1;
}

.formDiv {
  //   position: relative;
  div {
    padding: 0%;
  }
}
