@import "../../themes/colors.scss";
@import "../../themes/theme.scss";
@import "../CarDetails/CarDetails.scss";

.booking-Container {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
  div {
    .car-img {
      min-width: 20rem;
      max-width: 20rem;
      min-height: 10rem;
      margin-top: 1rem;
    }
    // min-height: 20rem;
    padding: 2%;
    background-color: #f5f5f5;
    margin: 1rem;
    h6 {
      font-weight: 800;
      font-size: 32px;
    }

    text {
      font-weight: lighter;
      font-family: "'Roboto Condensed', sans-serif;";
      font-size: 1rem;
      line-height: $light-line-height;

      color: grey;
    }
    p {
      margin-top: 0;
      margin-bottom: 1rem;
      font-weight: 800 !important;
      font-family: "'Roboto Condensed', sans-serif;";
      font-size: 1.25em;
      line-height: $medium-line-height !important;
    }

    a {
      text-decoration: none !important;
      color: black;
      &:hover {
        text-decoration: underline;
        color: black;
      }
    }

    h6 {
      font-size: 14px;
      font-family: inherit;
      font-weight: 500;
    }
  }
}

.booking-Container > .formDiv {
  flex: 1;
}

.formDiv {
  div {
    padding: 0%;
  }
}

button.btn.btn-primary {
  background-color: $btn-color;
  border-color: $btn-color;
  border-radius: 0.2rem;
  margin-left: 1rem;
  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    color: white;
    transform: scale(1.1);
  }
}

.arrow-image {
  max-width: 2rem;
  max-height: 2rem;
}
