@import "../../themes//colors.scss";

.maindiv {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
}

.cardslist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.viewLink {
  float: right;
  margin-right: 5%;
  margin-bottom: 1%;
  color: $black;
  font-size: large;
  text-decoration: none;
}

.viewLink:hover {
  font-weight: 400;
  color: $black;
  text-decoration: none;
}

.pagination_div {
  float: right;
  margin-left: auto;
  margin-right: 3%;
  margin-top: 2%;
}

// .viewallbtn {
//   a {
//     float: right;
//     margin-bottom: 5rem;
//     display: block;
//   }
//   a:hover {
//     color: $black;
//   }
// }

.arrow-btn {
  width: fit-content;
  background-color: white;
  border: 0.1rem solid $black;
  margin-left: 1rem;
  padding: 1rem;
}

.next-arrow {
  transform: rotate(270deg);
}
.prev-arrow {
  transform: rotate(90deg);
}
