.maindiv {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  h5 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  button {
    width: 10rem;
  }
}

.cardslist {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

// .mb-2.btn-group {
//   display: block;
// }

.viewLink {
  // display: block;
  float: right;
  margin-right: 5%;
  margin-bottom: 1%;
  color: #000;
  font-size: large;
  text-decoration: none;
}

.pagination_div {
  float: right;
  margin-left: auto;
  margin-right: 3%;
  a {
    font-weight: bold;
    color: black;
    background-color: orange;
    border-color: black;
  }
}

.viewallbtn {
  link {
    float: right;
    margin-bottom: 5rem;
    display: block;
  }
}
