.totaldiv {
  margin: 2rem;
}
.detailsContainer {
  img {
    display: block;
    width: 100%;
  }
  p {
    font-weight: bold;
    font-size: small;
  }
  text {
    color: grey;
    font-size: x-small;
  }
  h6 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
      sans-serif;
    font-weight: bold;
  }
  #btn_booknow {
    margin-right: 5%;
    width: fit-content;
    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
.col2 {
  margin-left: 10%;
}
h5 {
  font-style: oblique;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
