.notfoundContainer {
  margin: 5%;
  text-align: center;
  h4 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
  }
  h6 {
    font-style: oblique;
    text-decoration: underline;
    color: slateblue;
  }
}
