.searchbar {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18rem;
  width: 30%;
  h2 {
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}

.textbox-div {
  display: flex;
  width: 100%;
}
