.carousel {
    position: relative;
    top: 0;
    left: 0;
}


.cross-img-left{
  
    position: absolute;
    left: 0;
    top: 15%;
    padding-left: 5%;
 
}

.cross-img-right{
  
  position: absolute;
  right: 0;
  top: 15%;
  padding-right: 5%,

}

