.cardContainer {
  width: 18rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1rem 1rem 1rem grey;
  p {
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 600;
  }
}

.transition {
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  &a {
    text-decoration: none;
  }
}

// path {
//   fill: red;
//   height: 20px;
//   max-width: 69px;
// }
