.cardContainer {
  width: 18rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1rem 1rem 1rem grey;
  p {
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 600;
  }
}
